body {
	margin: 0 auto;
	background: url(../img/bg.jpg) center 0 no-repeat #062236;
}
.dropdown img {
	margin-right: 6px;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.container {
	padding: 30px 0;
}
.login-dialog {
	text-align: center;
	padding-top: 90px;
}
h1 {
	color: #FFF;
	font-size: 400%;
	margin-bottom: 120px;
}
.login-dialog a {
	font-size: 200%;
	padding: 20px 60px;
}
.login-dialog p {
	display: inline-block;
	background: url(../img/opacity.png) 0 0 repeat;
	padding: 30px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
.container-in {
	background: url(../img/opacity.png) 0 0 repeat;
	padding: 30px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	text-align: center;
}

.form-group {
	padding: 0 20% 30px 20%;
}
.form-group #inputkeyword {
	padding: 30px 20px;
}
.form-group label {
	color: #6FA9C0;
	text-align: left;
	display: block;
	font-weight: normal;
}
.form-group button {
	margin-top: 90px;
	padding: 20px 60px;
}


